# Name: Steer'n'Detect

# Zsuzsanna PŸspški, Daniel Sage
# Biomedical Imaging Group
# Ecole Polytechnique Federale de Lausanne (EPFL), Lausanne, Switzerland

# Date: 11 July 2019

Plugins>Steer 'n' Detect, "SteerDetect Run", Steer_Detect
Plugins>Steer 'n' Detect, "SteerDetect Load", Steer_Detect_Load
